############################################
# possible location:                       #
#   - /etc/pc-ziegert/media-service.yaml   #
#   - $HOME/.pc-ziegert/media-service.yaml #
#   - config/media-service.yaml            #
############################################
---
auth:
  jwt:
    public-key: -----BEGIN PUBLIC KEY-----\n MY LOVELY PUBLIC KEY \n-----END PUBLIC KEY-----
log:
  level: debug
data:
  s3:
    access-key-id: Qwer1234!
    address: https://s3.pc-ziegert.de
    bucket: test
    region: eu-central-1
    secret-access-key: Qwer1234!
  temp:
    directory: /tmp
  expiration: 10s #168h #7d Valid time units are "ns", "us" (or "µs"), "ms", "s", "m", "h".
http:
  port: 8084
  gzip:
    enabled: true
  origin:
    all:
      enabled: true
rabbitmq:
  ip: localhost
  port: 5672
  username: guest
  password: guest
  virtual-host: /
redis:
  network: tcp
  ip: localhost
  port: 6379
  username: ''
  password: ''
  db: 0
service:
  core:
    protocol: http
    host: localhost
    port: 8081
  internal:
    communication:
      auth:
        token: MY LOVELY MEDIA-SERVICE TOKEN